.carousel-item {
    height: 90vh; 
}

.carousel-item img {

    height: 100%; 
    object-fit: cover;
}

.nav-link {
    color: black;
    transition: color 0.5s ease;
    font-weight: bold;
    padding-right: 0;
    padding-left: 3;
}

.nav-link:hover {
    color: rgb(50, 117, 179);
    text-decoration: underline;
}